*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*font-family: 'Mier B', 'Helvetica Neue', 'Arial, Helvetica', 'sans-serif';*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
}

nav{
    width: 100%;
    height: 65px;
    background: black;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    position: relative; /* newly added */
    float: left;
    width: 100px;
    height: 100px;
    padding: 5px;
}

.logo h1 {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: normal;
    /*padding: 0 2rem;*/
    position: relative; /* new */
    z-index: 2; /* new */
    margin-inline-start: 70px;
    margin-block-start: -70px;
}

.logo img {
    /*display: block;*/
    margin-block-start: 10px;
    width: 75%;
    height: auto;
    position: relative; /* new */
    z-index: 1; /* new */
}

.nav-items a{
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
}

.navbar{
    width: 90%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    cursor: pointer;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;


}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
}

#slideImg{
    width: 100%;
    height: 100%;
}

.overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
}

.content{
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align: center ;
    color:#fff;
}
.content h1{
    font-size: 65px;
    font-family: "Tiempos Fine Bold", Georgia, serif;
    margin-top: 80px ;



}
.content p{
    margin: 25px auto;
    font-weight: 300;
    line-height: 25px;
}

button{
    width: 160px;
    height: 160px;
    animation: breathe 4s infinite;
    padding: 20px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 200px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Mier B', 'Helvetica Neue', 'Arial', 'Helvetica', 'sans-serif';
    border: 2px solid #000;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

@keyframes breathe {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}

span{
    background: #000;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position:absolute;
    left: 0;
    bottom:0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

body{
    background: #fff;
}

section{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(1){
    color: #fff;
    background-color: #c5ae5a;

}

section:nth-child(2){
    color: #fff;
    background: #cbb66a;
}

section:nth-child(3){
    color: #fff;
    background-color: #c5ae5a;
   
}

section:nth-child(4){
    color: #fff;
    background: #cbb66a;
}

section:nth-child(5){
    color: #fff;
    background-color: #c5ae5a;
}

section:nth-child(6){
    color: #fff;
    background-color: #cbb66a;
}

section .container{
    margin: 100px;

}

section h2{
    font-size: 40px;
    font-family: "Tiempos Fine Bold", Georgia, serif;
    text-align: center;
    text-transform: uppercase;
}

section .cards{
display: flex;
}

section .cards .text-card{
background: #806c26;
margin: 20px;
padding: 20px;
box-shadow: 0 4px 8px rgba(0,0,0,0.7);
}

h3.wiggle {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

h3.wiggle:hover {
  animation: none;
  cursor: pointer;
  text-align: center;
}

section .cards .text-card h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h3.wiggle a{ /* added this here */
    text-decoration: none;
    color: #fff;
}

section .cards .text-card p {
    line-height: 1.5;
}

section .cards .text-card .learn-card a{
    font-size: 30px;
    /*font-family: "Tiempos Fine Bold", Georgia, serif;*/
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}




@media (max-width: 900px){
    nav{
        justify-content: normal;
    }
    .content h1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
        Arial, sans-serif;
        font-size: 40px;
    }

    .scrolldown{ /* added */
        display: none;
    }

    .logo h1{ /* hide */
        display: none;
    }

    section h1{
        font-size: 60px;
    }

    section .cards{
        flex-direction: column;
    }
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;   
}

section2{
    min-height: 20vh;
    display: flex;
    color: #fff;
    background: #000;
}

section2 h1{
    font-size: 20px;
    text-transform: uppercase;
}

.scrolldown{
    position:absolute;
    bottom: 0px;
    left: 50%;
    width: 40px;
    height: 40px;
    
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span2{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 60%;
    height: 60%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}

.scrolldown span2:nth-child(1){
    transform: translate(-15px, -15px);
    animation-delay: -0.4s;

}
.scrolldown span2:nth-child(2){
    transform: translate(0,0);
    animation-delay: -0.2s;
}
.scrolldown span2:nth-child(3){
    transform: translate(15px, 15px);
    animation-delay: 0s;
}

@keyframes animate{
    0% {
        top:-5px;
        left:-5px;
        opacity: 0;

    }
    25% {
        top:0px;
        left:0px;
        opacity: 1;
    }
    50%,100% {
        top:5px;
        left:5px;
        opacity: 0;
    }
}