  /* header box */
  body{
    background-color: #F7EDCC;
    margin: 0;
    padding: 0;
  }

  .banner{
    background-color: black;
    background-repeat: no-repeat;
    background-size:100% 100%;
    width: 100%;
    height: 180px;
    border: 1px solid black;
    padding: 10px;
    opacity: 0.5;
  }

  .button{
    background-color: transparent;
    border: 0px Solid;
    height: 20px;
    width: 20px;
    margin: 5px;
  }

  .banner2{
    height: 100%;
    width: 200px;
    background-color: #DCCD99;
    position: relative;
  }

  .bannerExplanation{
    opacity: 0.7;
    color: white;
    bottom: 180px;
    position: relative;
    text-align: center;
  }

  /* header box */
  .box1{
    background-color: #F6E4A4;
    background-image: url(img/header.gif);
    background-repeat: no-repeat;
    background-size:100% 100%;
    width: 100%;
    height: 180px;
    border: 1px solid black;
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }

  /* footer boxes */
  .box2{
    width: 1050px;
    border: 1px solid black;
    background-color: #000000;
    bottom: 50px;
    color: azure;
    height: 150px;
    padding: 10px;
    position: relative;
    margin-left: 200px;
    text-align: center;
    opacity: 0.5;
  }

  .box3{
    width: 1050px;
    border: 1px solid black;
    background-color: #000000;
    bottom: 20px;
    color: azure;
    height: 200px;
    padding: 10px;
    position: relative;
    margin-left: 200px;
    /* margin-top: 20px; */
    text-align: center;
    opacity: 0.5;
  }

  .box4{
    width: 1050px;
    border: 1px solid black;
    background-color: #000000;
    bottom: 50px;
    color: azure;
    height: 300px;
    padding: 10px;
    position: relative;
    margin-left: 200px;
    text-align: center;
    opacity: 0.5;
  }

  .logo img{
    width: 100px;
    height: 100px;
    position: relative;
    float: right;
  }

  .logo2 img{
    width: 100px;
    height: 100px;
    position: relative;
    float: left;
  }

  .pictuesToSites{
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin:auto;
  }

  .pictuesToSites img{
    border-radius: 50%;
    bottom: 130px;
    position: relative;
    margin-right: 100px;
    left: 180px;
    width: 170px;
    height: 120px;
  }

  .pictuesToSites2{
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin:auto;
  }

  .pictuesToSites2 img{
    border-radius: 50%;
    bottom: 90px;
    position: relative;
    margin-right: 100px;
    left: 320px;
    width: 170px;
    height: 120px;
  }

  .pictuesToSites3{
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin:auto;
  }

  .pictuesToSites3 img{
    border-radius: 50%;
    bottom: 50px;
    position: relative;
    margin-right: 100px;
    left: 480px;
    width: 170px;
    height: 120px;
  }

  .sites{
    background-color: #000000;
    width: 700px;
    opacity: 0.7;
    /* color: #f2f2f2; */
    color: #F7EDCC;
    bottom: 150px;
    position: relative;
  }

  .sitesScroll{
    position: relative;
    display: flex;
    flex-direction:column;
    margin-left: 10px;
    gap: 70px;
  }

  .sitesScroll img{
    border-radius: 50%;
    position: relative;
    margin-right: 100px;
    /* left: 480px; */
    width: 170px;
    height: 120px;
  }

  

  /* sites slideshow */
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  /* margin-top: 50px; */
  bottom: 40px;
}

/* Caption text */
.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 310px;
  align-items: center;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 40px 2px;
  background-color: #bbb;
  bottom: 40px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}