* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

.header {
    border: 1px solid black;
    height: 180px;
    background: url('../img/header.gif') no-repeat center center;
    background-size: cover;
    position: relative;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 90px;
    height: 90px;
    position: absolute;
    float: left;
}

.site-name {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    color: #F7EDCC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    position: absolute;
    top: 180px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F7EDCC;
}

.inner-content {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 40px;
    right: 40px;
    padding: 20px;
    background-color: #7b7665;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-and-slideshow {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.text {
    flex-basis: 50%;
    color: #F7EDCC;
    max-height: 350px;
    overflow: auto;
}

.slideshow {
    flex-basis: 50%;
}

.mySlides {
    box-sizing: border-box;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}

    from {opacity: .4}
    to {opacity: 1}
}

.button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.dot {

    background-color: #717171;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #f8f8f8;
}

.hero {
    flex: 1;
}

.track {
    width: 600px;
    display: flex;
    align-items: center;
}

.track img{
    width: 70px;
    margin-right: 30px;
    cursor: pointer;
}

.track div {
    display: block;
    flex: 1;
}

#moreinfoButton {
    background-color: #000;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

@media (max-width: 920px) {
    .text {
        flex-basis: 35%;
        font-size: 60%;
    }

    .track {
        width: 400px;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 600px) {

}
